/* Styles */


h1,
h2,
h3,
li,
p {
    font-family: 'Helvetica', 'Verdana', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #32464e;
    background-color: #cee3eb;
    padding: 20px;
    margin: -10px -10px 28px;
}

h2{
    background-color: #cee3eb;
    padding: 6px;
    border-radius: 8px;

}

img {
    border-radius: 8px;
    max-width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.para {
    margin: 12px 80px 12px;
}

.ingrs {
    background-color: #cee3eb;
    padding: 6px 30px;
    border-radius: 8px;
    margin: 12px;
    box-shadow: 0 4px 8px 0 #00000033;
}